{% extends "myApp/base.html" %}
{% load static %}
{% block contenido %}

                        <!--INFO DE SERVICIO-->
    <main class= "contenedor sombra">
        <h2>Nuestros Servicios</h2>
        
        <div class="servicios"> 
            <section class="servicio">
                <h3>Servicio Integral</h3>
                <div class="inconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-engine" width="68" height="68" viewBox="0 0 24 24" stroke-width="1" stroke="#ffec00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 10v6" />
                        <path d="M12 5v3" />
                        <path d="M10 5h4" />
                        <path d="M5 13h-2" />
                        <path d="M6 10h2l2 -2h3.382a1 1 0 0 1 .894 .553l1.448 2.894a1 1 0 0 0 .894 .553h1.382v-2h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2v-2h-3v2a1 1 0 0 1 -1 1h-3.465a1 1 0 0 1 -.832 -.445l-1.703 -2.555h-2v-6z" />
                      </svg>
                </div>
                <h4>Mantenimientos programados es el servicio pautado y recomendado por la marca para mantener tu auto en excelentes condiciones.</h4>
            </section>

            <section class="servicio">
                <h3>Chapa y Pintura</h3>
                <div class="inconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-spray" width="68" height="68" viewBox="0 0 24 24" stroke-width="1" stroke="#ffec00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 10m0 2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2z" />
                        <path d="M6 10v-4a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4" />
                        <path d="M15 7h.01" />
                        <path d="M18 9h.01" />
                        <path d="M18 5h.01" />
                        <path d="M21 3h.01" />
                        <path d="M21 7h.01" />
                        <path d="M21 11h.01" />
                        <path d="M10 7h1" />
                      </svg>
                </div>    
                <h4>Tenemos nuestra propia Cámara de pintura y poseemos un sistema informatizado para determinar con precisión cuál es el color exacto de su vehículo.</h4>
            </section>

            <section class="servicio">
                <h3>Venta de Repuestos</h3>
                <div class="inconos">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car-turbine" width="68" height="68" viewBox="0 0 24 24" stroke-width="1" stroke="#ffec00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M11 13m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M18.86 11c.088 .66 .14 1.512 .14 2a8 8 0 1 1 -8 -8h6" />
                        <path d="M11 9c2.489 .108 4.489 .108 6 0" />
                        <path d="M17 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                        <path d="M11 13l-3.5 -1.5" />
                        <path d="M11 13l2.5 3" />
                        <path d="M8.5 16l2.5 -3" />
                        <path d="M11 13l3.5 -1.5" />
                        <path d="M11 9v4" />
                      </svg>
                </div>    
                <h4>Nuestro compromiso no termina nunca, para ellos contamos con un equipo profesional con capacitación y experiencia en repuestos.</h4>
            </section>
        </div>          <!-- class = Servicio -->
    
                    <!-- INICIO FORMULARIO DE CONTACTO-->
        
{% endblock contenido %}
                        
